# Gebruik de publieke npm registry
registry=https://registry.npmjs.org/

# Vermijd peer-dependency ellende (Angular friendly)
legacy-peer-deps=true

# Snellere installs
progress=false
fund=false
audit=false

# Zorgt dat npm niet faalt op optionele deps
optional=false

# Consistente permissies (macOS/Linux)
unsafe-perm=true

# Timeout robuuster maken
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

